ul { margin-right: .25rem; }

ul li{ margin-bottom: .25rem; }

.container {
    margin-top: -90px;
    max-width: 1100px !important;
}

.right { text-align: right; }

p { margin-bottom: 1rem !important; }
